<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>read</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Vlogサイト</h1>
    <div>
    <li><a href="/home">ホーム</a></li>
    <li><a href="/profile">プロフィール</a></li>
    <li><a href="/write">投稿</a></li>
  </div>
  </header> 
  <h1 th:text="${blogs.title}">こころ</h1>
  <p>価格: <span th:text="${blogs.comment}"></span></p>
  
</body>
</html>