<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vlog home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
  <h1>Vlog home</h1>
    <div>
    <li><a href="/home">ホーム</a></li>
    <li><a href="/profile">プロフィール</a></li>
    <li><a href="/write">投稿</a></li>
  </div>
  </header>
   <tr th:each="blogs:${blogs}">
    <td th:text="${blogs.title}"></td>
    <a th:href="@{/home/{id}(id=${blogs.id})}" th:text="${blogs.title}"></a>
    <td th:text="${blogs.comment}"></td>
   </tr>

</body>
</html>