<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>read</title>
    <link rel="stylesheet" href="/css/style.css">
    <h1>Vlogサイト</h1>
</head>
<body>
    <li><a href="/home">ホーム</a></li>
<li><a href="/profile.html"></a>プロフィール</li>
    <!-- 開かれたブログ内容の表示 -->
     <form action="blog.hensyu">
        <label for=""></label>
        <textarea name="" id=""></textarea>
     </form>
     <!-- ブログタイトル -->
    <!-- ブログ内容 -->
</body>
</html>